<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BaseLib" version="1.6.0.282" targetFramework="net472" />
  <package id="BaseLibS" version="1.6.4.133" targetFramework="net472" />
  <package id="NumPluginSvm" version="1.6.0.100" targetFramework="net472" />
  <package id="PerseusApi" version="1.6.4.128" targetFramework="net472" />
  <package id="PerseusLibS" version="1.6.10.126" targetFramework="net472" />
  <package id="PerseusPluginLib" version="1.6.4.128" targetFramework="net472" />
  <package id="PluginInterop" version="1.6.4.18" targetFramework="net472" />
</packages>